{% load static %}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Sarala" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Rakkas" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="{% static 'css/landing.css' %}">
    <link rel="icon" href="/static/img/MFA.png">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <title>CurhatAja</title>
</head>

<body>
    <header class="col-12 col-sm-12 col-md-12 col-lg-12">
        {% block title %}
        <center>
            <h1 style="color: whitesmoke;"> {{judul}} </h1>
        </center>
        {% endblock title %}
    </header>


    <div class="badan">
        <div class="curhatan">
            {% block contents %}
            <form method=POST>
                {% csrf_token %}
                <center>
                    {{curhat_form.label}} {{curhat_form}} <br> <br>
                    <button type="Submit" class="btn btn-primary btn-block mb1 bg-orange"> Kirim </button>
                </center>


            </form>

            {% endblock contents %}
        </div>
    </div>
    <div class="isi_curhatan">
        {% for isi in curhatans %}
        <div style="font-family: Lobster;">
            {{isi.curhatan}}
        </div>
        <div style="font-family: Sarala; margin-bottom: 20px;">
            {{isi.tanggal}}
        </div>
        {% endfor %}
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>