header {
    padding: 10px;
    background: #ec8b5e;
}

.badan {
    background: #ec8b5e;
}

.curhatan {
    font-family: Lobster;
    margin: 5vw;
    margin-top: 0;
    padding-bottom: 20px;
}

input[type="text"] {
    width: 100%;
    height: 200px;
}

.isi_curhatan {
    font-family: Sarala;
    padding-left: 100px;
}